Package: zotero
Architecture: amd64
Maintainer: @retorquere
Priority: optional
Version: 5.0.56
Description: Zotero 5.0.56 is a free, easy-to-use tool to help you collect, organize, cite, and share research
